

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 25px;
  border : 1px solid black;
  width: 850px;
  height: 850px;
  background-color: brown;
  margin-left: 2%;
 
 

}
.pizza {
    display: block;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-top: 15px;
    
}



